<%- include("partials/header") %> 

<h1>NAPISZ ARTYKUŁ</h1>
<form action="/compose" method="post">
    <input type="text" name="newPost" placeholder="Napisz coś od serca" autocomplete="off">
    <button type="submit" name="send" value="" > Publikuj </button>
</form>

<%- include("partials/footer") %> 