<%- include("partials/header") %> 

<h1>NAPISZ ARTYKUŁ</h1>
<form action="/compose" method="post">
    <input type="text" name="postTitle" placeholder="" autocomplete="off">
    <button type="submit" name="button" value="" > Publikuj </button>
</form>

<%- include("partials/footer") %> 